.hobbies {
    width: auto;
    /* background-color: cornflowerblue; */
    padding: 15px;
    align-items: center;
}

.hobbies .hobbies__title{
    text-align: center;
    padding: 15px;
    font-size: 22px;
}

.hobbies .hobbies__line{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hobbies .hobbies__line .hobbies__box {
    width: 50%;
    display: flex;
    background-color: #FFFFFF;
    /* border-color: chartreuse; */
    width: 130px;
    height: 80px;
    padding: 10px;
    align-items: flex-end;
    /* justify-content: space-around; */
    /* gap: 50px; */
}

@media (min-width: 834px) and (max-width: 1439px){

    .hobbies .hobbies__line{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .hobbies .hobbies__line .hobbies__box {
        display: flex;
        background-color: #FFFFFF;
        /* border-color: chartreuse; */
        width: 240px;
        height: 118px;
        padding: 10px;
        align-items: flex-end;
        /* justify-content: space-around; */
        /* gap: 50px; */
    }

}

@media (min-width:1440px){

    .hobbies{
        width: auto;
        padding: 15px 10%;
    }

    .hobbies .hobbies__title{
        text-align: center;
        padding: 15px;
        font-size: 45px;
        font-weight: bold;
    }

    .hobbies .hobbies__line{
        width: 100%;
        display: flex;
        /* flex-wrap: wrap; */
        /* align-items: center; */
        justify-content: center;
        gap: 40px;
        /* justify-content: space-between;*/
    }

    .hobbies .hobbies__line .hobbies__box {
        display: flex;
        background-color: #FFFFFF;
        width: 16.66%6;
        height: 100px;
        /* padding: 10px; */
        /* align-items: flex-end; */
        justify-content: space-around;
        /* gap: 50px; */
    }

}